ifjcompiler.dSYM/Contents/Resources/Relocations/aarch64/ifjcompiler.yml
ifjcompiler.dSYM/**/*
ifjcompiler.dSYM
stack_test
test_stack.c
ifjcompiler
.vscode
build
input.txt
token_types.txt
bin
tests/blazulin
ifjcompiler
ifjcompiler_debug
ifjcompiler_debug.dSYM/**/*
ifjcompiler_debug
odevzdavani/tempdir
odevzdavani/tmpdiri
tests/ugly_tests_generator/ugly_test.out
tests/ugly_tests_generator/ugly_test.out
tests/pepega_tests/generated_code
tests/test_out.ifjcode
tests/test.swift
